**__pycache__/

env/
.env

.dockerignore

.vscode/
.idea/

.DS_Store
Thumbs.db

postgres_data
test.py

venv

users_data/
full_database_data_only.sql
full_database_dump.sql
db_backup.sql
test_init.sql